<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="habitacion.Properties.Settings.cabanasC_String" connectionString="Data Source=elvin-pc\sqlexpress;Initial Catalog=cabanas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>